<h4 class="text-muted">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
    <div class="form-group">
        <input 
            formControlName="userName"
            class="form-control" 
            placeholder="user name" >  

        <bc-vmessage
            *ngIf="loginForm.get('userName').errors?.required && loginForm.get('userName').touched"
            text="User name is required!">
        </bc-vmessage> 
    </div>

    <div class="form-group">
        <input 
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="password">  

        <bc-vmessage
            *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
            text="Password is required!">
        </bc-vmessage>
    </div>

    <button 
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>
</form>

<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>